@media screen and (max-width: 767px){
    .masonry[data-columns]::before{        /*придуманное свойство masonry + атрибут data-columns*/
    content: '1 .col-xs-12';/*задаем размер сетки 1 колонка занимает все 12 столбцов и класс col-xs-12*/
    }
    #menu{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
   .masonry[data-columns]::before{
    content: '2 .col-xs-6';
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
   .masonry[data-columns]::before{
    content: '3 .col-xs-4';
    }
}

@media screen and (min-width: 1200px){
    .masonry[data-columns]::before{
    content: '3 .col-xs-4';
    }
